/* poppins font */

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

/* general stils */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
input{
    border: none;
}

:root{
    /* text color */
    --textBlackColor: black;
    --textWhiteColor: white;
    --textGrayColor: #282938;

    /* bgcolor */
    --bgHeaderColor: #1C1E53;
    --bgWhiteColor: #FFFFFF;
    --bgCardColor: #F4F6FC;
    --bgButtonColor: #FCD980;

    /* borderRadius */
    --borderRadius: 5px ;

}
